name: Limpieza

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch: {}

permissions:
  contents: write

jobs:
  delete-old-reports:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Iniciar Limpieza
        run: |
          git config --global user.name "Bot Limpieza"
          git config --global user.email "bot@github.com"
          
          # Borrar archivos antiguos (+30 dias)
          find . -name "informe-*.html" -type f -mtime +0 -exec rm {} \;
          
          # Guardar cambios si los hay
          if [[ `git status --porcelain` ]]; then
            git add .
            git commit -m "Auto borrado de informes viejos"
            git push
            echo "✅ Borrado completado"
          else
            echo "✨ Nada que borrar hoy"
          fi
